<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <a role="button" class="btn btn-success" href="/logout" style="text-decoration: none;">Logout</a>
    <a role="button" class="btn btn-success" href="/user/register">Add User</a>
<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>lastLoginTime</th>
        <th>lastLogoutTime</th>
        <th>UserType</th>
        <th>Delete</th>
        <th>Edit</th>

    </tr>
    <tr th:each="u : ${users}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.name}"></td>
        <td th:text="${u.age}"></td>
        <td th:text="${u.lastLoginTime}"></td>
        <td th:text="${u.lastLogoutTime}"></td>
        <td th:text="${u.userType}"></td>
        <td><a th:href="@{/user/delete(id=${u.id})}">Delete</a></td>
        <td><a th:href="@{/user/edit(id=${u.id})}">Edit</a></td>
    </tr>

</table>
</div>
</body>
</html>